# secrets — block everything, whitelist only SOPS-encrypted files and the SOPS config
90-secrets/*
!90-secrets/.gitkeep
!90-secrets/.sops.yaml
!90-secrets/*.enc.yaml
/tmp/

# Ansible
*.retry
provision/.tmp_vars_*.yml

# OS
.DS_Store
