[defaults]
roles_path            = 00-provision/roles:05-deploy/roles
host_key_checking     = False
stdout_callback       = yaml
retry_files_enabled   = False
interpreter_python    = auto_silent
collections_path      = ~/.ansible/collections
gathering             = smart
fact_caching          = jsonfile
fact_caching_connection = .ansible_facts_cache
fact_caching_timeout  = 3600

[ssh_connection]
ssh_args    = -o ControlMaster=auto -o ControlPersist=60s -o IdentitiesOnly=yes
pipelining  = True
